@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font: 16px 'Open Sans', sans-serif;
    background-color: #00BCD4;
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    background-color: #ffffff;
    width: 50%;
    margin: 30px auto;
    height: 82vh;
    box-shadow: 5px 5px 5px #00838F;
    text-align: center;
}

nav {
    background-color: #80DEEA;
    padding: 20px;
    position: relative;
}

.anonymous,
.user-only {
    margin: 40px;
    color: #00838F;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
}

#loadingBox,
#errorBox,
#infoBox {
    position: absolute;
    z-index: 9999;
    padding: 16px;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 1.4em;
    border: 1px solid #FF1744;
    background-color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
}

#errorBox {
    border: 1px solid #FF1744;
    color: #FF1744;
    width: 100%;
 }

#errorBox:before {
    font-family: FontAwesome;
    content: '\f188';
    color: #FF1744;
    float: left;
}

#infoBox {
    border: 1px solid #00E676;
    color: #00E676;
    width: 100%;
}

#infoBox:before {
    font-family: FontAwesome;
    content: '\f08a';
    color: #00E676;
    float: left;
}

#loadingBox {
    border: 1px solid #C6FF00;
    color: #C6FF00;
    width: 100%;
}

#loadingBox:before {
    font-family: FontAwesome;
    content: '\f110';
    color: #C6FF00;
    float: left;
}


div .login-component,
div .register-component {
    margin: 40px 0;
}

.login-title,
.register-title {
    color: #80DEEA;
    font-weight: 200;
    margin: 16px;
}

#loginUsername,
#loginPassword,
#registerUsername,
#registerPassword,
#registerFullName{
    padding: 12px;
    text-align: center;
}

::-webkit-input-placeholder,
::-webkit-input-placeholder {
    text-transform: uppercase;
}

.login-button,
.register-button {
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 197px;
    font-weight: 700;
    color: #005f68;
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    cursor: pointer;
}

.login-button {
    margin-top: 83px;
}

.login-button:hover,
.register-button:hover {

}

/*Dog interpretation*/
.head {
    margin: 70px 40px;
    height: 125px;
    width: 280px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 8px #b0b0b0;
    border-radius: 7px 7px 100px 7px;
    border-right: 1px solid #00838F;
    border-bottom: 1px solid #00838F;
    position: relative;
}

.nose {
    height: 24px;
    width: 24px;
    background-color: #00838F;
    border-radius: 0 6px 0 15px;
    position: absolute;
    right: 0;
}

.ear {
    height: 220px;
    width: 115px;
    background-image: radial-gradient(circle at top left, #80DEEA, #00838F 70%);
    border-radius: 7px 7px 150px 0;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: rotate 1.6s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.dog-subtitles {
    width: 220px;
    position: absolute;
    top: 180px;
    left: 370px;
    color: #00BCD4;
    font-weight: 100;
    font-size: 2em;
    border: 1px solid #80DEEA;
    padding: 20px;
    text-transform: uppercase;
}

.dog-subtitles-small-res {
    display: none;
}

@media (max-width: 1280px) {
    #container {
        width: 56%;
    }
    .dog-subtitles {
        left: 680px;
    }
}

@media (max-width: 1152px) {
    #container {
        width: 60%;
    }
    .dog-subtitles {
        left: 620px;
    }
}

@media (max-width: 1024px) {
    .dog-container {
        display: none;
    }

    .dog-subtitles-small-res {
        display: block;
        width: 220px;
        margin: 30px auto;
        color: #00BCD4;
        font-weight: 100;
        font-size: 2em;
        border: 1px solid #80DEEA;
        padding: 20px;
        text-transform: uppercase;
    }
}

@media (max-width: 640px) {
    #container {
        width: 90%;
        margin: 40px auto;
    }
}

@media (max-width: 320px) {
    .dog-subtitles-small-res {
        font-size: 1.82em;
    }

    .anonymous,
    .user-only {
        display: block;
        margin: 12px;
    }

    #container {
        height: 90vh;
    }
}

*::selection {
    color: #C6FF00;
}



























footer {
    color: #005f68;
    font-size: 0.8em;
    text-align: center;
}
